<div>
    <mat-toolbar class="navtabs-container" fxLayoutAlign="space-evenly center">
        <a routerLink="/" routerLinkActive #home="routerLinkActive" active="home.isActive" class="menu-nav active">
            Home
        </a>
        <a routerLink="/accommodation" routerLinkActive #accommodation="routerLinkActive" active="accommodation.isActive" class="menu-nav">
            Accommodation
        </a>
        <a routerLink="/offers" routerLinkActive #offers="routerLinkActive" active="offers.isActive" class="menu-nav">
            Offers
        </a>
        <a routerLink="/booking" routerLinkActive #booking="routerLinkActive" active="booking.isActive" class="menu-nav">
            Booking
        </a>
    </mat-toolbar>
</div>