<div class="footer" fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="address" fxFlex fxLayout="column" fxLayoutAlign="center center">
        <p>Address:</p>
        <small>Night Bazaar Area, 132 Loy Kroh Road,</small>        
        <small>Night Bazaar, Chiang Mai, Thailand.</small>
        <small>Phone: 99999999</small> 
    </div>
    <div fxFlex fxLayoutAlign="center center">
        <button mat-raised-button [routerLink]="['/booking']" routerLinkActive="router-link-active" >Book Now</button>
    </div>
    
      
</div>
